<div>
    <mat-toolbar class="toolbar" color="primary">
        <a routerLink="/" routerLinkActive="active" class="title">Cooking Recipes.com</a>
        
    </mat-toolbar>   
</div>

<div class="header">
    <div class="titleDiv">
        <h1 class="createTitle"><b>Create A Recipe</b></h1>
    </div>
</div>

<div fxLayout="row wrap" class="createRecipeLayout" fxLayoutAlign="center center" >

    <mat-accordion class="example-headers-align">

    <mat-expansion-panel [expanded]="stepIndex === 0" (opened)="setStepIndex(0)" style="width:750px" [formGroup]="recipeForm">
        <mat-expansion-panel-header>

            <mat-panel-title>
                Recipe Information
            </mat-panel-title>

            <mat-panel-description>
                General Information About Your Recipe
            </mat-panel-description>

        </mat-expansion-panel-header>

        <mat-form-field style="width:400px" >
            <mat-label>Recipe Title</mat-label>
            <input matInput formControlName="recipeTitle" required >
            <mat-error *ngIf="hasErrorRecipe('recipeTitle', 'required')">Title is required</mat-error>
        </mat-form-field>

        <div style="margin:10px">
        </div>

        <mat-form-field style="width:400px">
            <mat-label>
                Recipe Description
            </mat-label>

            <textarea matInput  formControlName="recipeDescription" required></textarea>
            <mat-error *ngIf="hasErrorRecipe('recipeDescription', 'required')">Description is required</mat-error>
        </mat-form-field>

        <div style="margin:10px">
        </div>

        <mat-form-field style="width:400px" >
            <mat-label>Image Link (Displayed on home screen)</mat-label>
            <input matInput formControlName="recipeImage" required>
            <mat-error *ngIf="hasErrorRecipe('recipeImage', 'required')">Image is required</mat-error>
        </mat-form-field>

        <div style="margin:10px">
        </div>

        <mat-form-field style="width:400px">
            <mat-label >
                Total Time For Recipe
            </mat-label>

            <input matInput type="number" formControlName="time" required>
            <mat-error *ngIf="hasErrorRecipe('time', 'required')">Time is required</mat-error>
        </mat-form-field>

        <mat-form-field style="width:400px">
            <mat-label>
                Total Number of Steps
            </mat-label>

            <input matInput type="number" formControlName="numberOfSteps" required> 
            <mat-error *ngIf="hasErrorRecipe('numberOfSteps', 'required')">Number Of Steps is required</mat-error>
        </mat-form-field>

        <mat-action-row>
            <button mat-button color="warn" a routerLink="/" routerLinkActive="active" >Cancel</button>
            <button mat-button color="primary" (click)="nextStepStart()">Next</button>
        </mat-action-row>

    </mat-expansion-panel>

    <div *ngIf="generateSteps">
        <div *ngFor="let step of this.recipe.steps; let i = index">
            <mat-expansion-panel   [expanded]="stepIndex === i+1" (opened)="setStepIndex(i+1)" [formGroup]="stepForms.at(i)" >
                <mat-expansion-panel-header>
                <mat-panel-title>
                    Step {{i+1}}
                </mat-panel-title>
                </mat-expansion-panel-header>
                <mat-form-field style="width:400px" >
                    <mat-label>Step Title</mat-label>
                    <input matInput formControlName="stepTitle" required>
                    <!--<mat-error *ngIf="hasErrorStep('stepTitle', 'required')">Title is required</mat-error>-->
                </mat-form-field>

                <div style="margin:10px">
                </div>

                <mat-form-field style="width:400px">
                    <mat-label >
                        Total Time For Step
                    </mat-label>

                    <input matInput type="number" formControlName="stepTime" required>
                    <!--<mat-error *ngIf="hasErrorStep('stepTime', 'required')">Time is required</mat-error>-->
                </mat-form-field>

                <div style="margin:10px">
                </div>
                    
                <mat-form-field style="width:400px">
                    <mat-label>
                        Step Description
                    </mat-label>

                    <textarea matInput  formControlName="stepDescription" required></textarea>
                    <!--<mat-error *ngIf="hasErrorStep('stepDescription', 'required')">Description Of Step is required</mat-error>-->
                </mat-form-field>

                <div style="margin:10px">
                </div>

                <mat-form-field style="width:400px" >
                    <mat-label>Image Link</mat-label>
                    <input matInput formControlName="stepImage">
                </mat-form-field>

                <div style="margin:10px">
                </div>

                <mat-form-field style="width:400px" >
                    <mat-label>Youtube Video Link</mat-label>
                    <input matInput formControlName="stepVideo">
                </mat-form-field>


                <mat-action-row>
                    <button mat-button color="warn" a routerLink="/" routerLinkActive="active" >Cancel</button>
                    <button mat-button color="warn" (click)="prevStep()" >Previous</button>
                    <button mat-button color="primary" (click)="nextStep()" *ngIf="stepIndex !== this.recipeForm.value.numberOfSteps">Next</button>
                    <button mat-button color="primary" (click)="publish()" *ngIf="stepIndex === this.recipeForm.value.numberOfSteps"  routerLink="/" routerLinkActive="active">Publish</button>
                </mat-action-row>
            </mat-expansion-panel>
        </div>      
    </div>

    </mat-accordion>

</div>