.toolbar{
    height: 125px;
    background: linear-gradient(to bottom right, #c2185b,#be5982)
}

.title{
    color:white;
  
}

#searchBarDiv{
    margin-top: 20px;
    font-size: x-large;
    width:600px;
}

.searchForm{
    align-self: center;
    color:#7e7d7d;
    width:800px;
}

.searchButtonDiv{
    align-self: center;
}

.searchButton{
    font-size:x-large;
    margin-bottom: 20px;
}

.recipeBox{
    align-items: center;
    max-width: 340px;
    max-height: 400px;
    overflow: hidden;
}

.mat-card{
    background: linear-gradient(to bottom right, #c2185b,#be5982)
}

.mat-card-content {
    text-overflow: ellipsis;
    overflow: hidden;
}

.mat-card-content {
    text-overflow: ellipsis;
    overflow: hidden;
}

.recipeImage{
    text-align: center;
}

.recipeBoxContent{
    text-align: left;
    text-overflow: ellipsis;
}

.recipeBoxList{
    padding-top: 20px;
    padding-left: 5%;
    align-items: center;
    background: linear-gradient(to bottom right, #344966,#B4CDED);
}

.mat-raised-button:hover{
    background: linear-gradient(to bottom right, #092397,#4970f0)
}

.mat-card:active{
    background: lightgray;
}

.mat-card:hover{
    cursor:pointer;
    background: linear-gradient(to bottom right, #092397,#4970f0)
}

.searchStuff{
    background: #eecbd9;
}