.toolbar{
    height: 125px;
}

.title{
    color:white;
}

.mat-stepper-vertical {
    margin-top: 8px;
}
  
.mat-form-field {
    margin-top: 16px;
}

.stepText{
    color: white;
}

.images {
    max-width: 600px;
    max-height: 600px;
}

.recipeStepsView{
   
}

.recipeTitle{
    margin-top: 40px;
}